DJANGO_SECRET_KEY=sua-chave-aqui
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
NIVEL_LOG=INFO
API_KEY=dev-key-default
API_KEY_HEADER=X-API-Key
PORT_WEB=8001
PORT_DEBUGPY=5678
URL_BANCO_PEDAGOGICO=url_banco_pedagogico
